
<main>
  <form action="">
    <h1>Fale Conosco</h1>
    <label for="name">Nome</label>
    <input type="text">
    <label for="tel">Telefone</label>
    <input type="text">
    <label for="opt">Motivo do Contato</label>
     <select>
      <option>Elogio</option>
      <option>Reclamação</option>
      <option>Duvida</option>
      <option>Sugestão</option>
      <label for="text">Mensagem</label>
    </select>
     <textarea name="mensagem" class="fordform" placeholder="Mensagem*"></textarea>
     <button type="submit">Submit</button>
  </form>
</main>
