<header>
  <nav>
    <div id="agenda">
      <a id="link" href="agendamento">
        <i  class="bi bi-calendar-event-fill"></i>
      </a>
      <p id="agendatext">Agende Agora</p>
    </div>
    <i class="bi bi-cart-fill"></i>
    <i class="bi bi-telephone-fill"></i>
    <i class="bi bi-person-circle"></i>
  </nav>
  <div id="cabecalho">
    <a href="home"> <img id="Logo" src="PetViva.png" /></a>
      <form id="pesquisa" action="" method="GET">
        <input id="inputsh" type="text" name="q" />
        <button type="submit"><i class="bi bi-search"></i></button>
      </form>
    <nav></nav>
  </div>
</header>
<router-outlet></router-outlet>
