#titulo {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#formbody {
  display: flex;
  justify-content: center;
}

#formbody {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-left: 45%;
}
#agendamentos {
  margin-top: 30px;
}
.erro {
  color: red;
}
