<main>
  <br />
  <app-carrousel></app-carrousel>
  <br /><br />
  <div id="produtos">
  <h3>Produtos Recomendados</h3>
  <div class="card" style="width: 11rem;">
    <img class="card-img-top" src="raçãogolden.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Golden Cão Adulto - Carne - 15kg</h5>
      <p class="card-text">R$171,99</p>
      <a href="" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 11rem;">
    <img class="card-img-top" src="raçãogolden.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Golden Cão Adulto - Carne - 15kg</h5>
      <p class="card-text">R$171,99</p>
      <a href="" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 11rem;">
    <img class="card-img-top" src="raçãogolden.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Golden Cão Adulto - Carne - 15kg</h5>
      <p class="card-text">R$171,99</p>
      <a href="" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
</main>

