h3{
  margin: 1%;
}

.card{
  display: inline-block;
  margin: 0.5%;
}

.card-img-top{
   margin-left: 35%;
}

  #horizontal-line{
    width: 1263px;
    height: 1px;
    background-color: silver;
  }

  #produtos{
    margin: 1%;
  }